<a href="https://colab.research.google.com/github/mchhour31/NN_work/blob/main/artificial_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [120]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [121]:
tf.__version__

'2.9.2'

## Part 1 - Data Preprocessing

### Importing the dataset

In [122]:
df = pd.read_csv("Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [123]:
X = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

In [124]:
X.shape

(10000, 10)

In [125]:
y.shape

(10000,)

### Encoding categorical data

Label Encoding the "Gender" column

In [126]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [127]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

One Hot Encoding the "Geography" column

In [128]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(transformers=[
    ('encoder', OneHotEncoder(handle_unknown='ignore'), [1])], remainder='passthrough')

X = np.array(ct.fit_transform(X))

In [129]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

### Splitting the dataset into the Training set and Test set

In [130]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Feature Scaling

In [131]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [132]:
from tensorflow import keras

ann = keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [133]:
ann.add(keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [134]:
ann.add(keras.layers.Dense(units=1, activation='relu'))

### Adding the output layer

In [135]:
ann.add(keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [136]:
ann.compile(optimizer='adam',
            loss='binary_crossentropy',
            metrics=['accuracy'])

### Training the ANN on the Training set

In [137]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6187 - accuracy: 0.7922
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5012 - accuracy: 0.7922
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4504 - accuracy: 0.7922
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.7922
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4351 - accuracy: 0.7922
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4326 - accuracy: 0.7922
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4310 - accuracy: 0.7922
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4290 - accuracy: 0.7922
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4264 - accuracy: 0.7922
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4232 - accuracy: 0.7922
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4194 - accuracy: 0.7922
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4148 - accuracy: 0.8006
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8174
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8209
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8264
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8279
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8367
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3823 - accuracy: 0.8428
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3778 - accuracy: 0.8464
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3739 - accuracy: 0.8484
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3706 - accuracy: 0.8522
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3678 - accuracy: 0.8540
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3651 - accuracy: 0.8553
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3631 - accuracy: 0.8549
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3614 - accuracy: 0.8544
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3601 - accuracy: 0.8571
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3585 - accuracy: 0.8566
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8580
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3563 - accuracy: 0.8565
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8558
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3545 - accuracy: 0.8564
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3542 - accuracy: 0.8571
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3538 - accuracy: 0.8581
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8570
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8587
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8568
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3519 - accuracy: 0.8583
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.8576
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8583
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3508 - accuracy: 0.8579
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8591
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8580
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8591
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8571
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8584
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8572
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8577
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8581
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3485 - accuracy: 0.8590
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3484 - accuracy: 0.8591
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8584
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8577
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8593
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8581
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8586
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8576
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8581
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8581
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3469 - accuracy: 0.8579
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3468 - accuracy: 0.8587
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3469 - accuracy: 0.8581
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8585
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8581
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3464 - accuracy: 0.8589
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3464 - accuracy: 0.8583
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3461 - accuracy: 0.8579
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8575
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8590
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3461 - accuracy: 0.8580
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3458 - accuracy: 0.8587
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3456 - accuracy: 0.8576
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3457 - accuracy: 0.8585
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8590
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8579
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8581
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8590
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3453 - accuracy: 0.8586
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8571
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8577
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8583
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8584
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8584
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3447 - accuracy: 0.8577
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3441 - accuracy: 0.8599
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8579
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8596
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3447 - accuracy: 0.8583
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8585
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3442 - accuracy: 0.8579
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8586
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3443 - accuracy: 0.8590
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8583
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8579
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8575
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3436 - accuracy: 0.8577
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3435 - accuracy: 0.8571
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3436 - accuracy: 0.8584
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3434 - accuracy: 0.8602
Epoch 100/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3433 - accuracy: 0.8594

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

In [138]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 109ms/step

array([[0.0272181]], dtype=float32)

Therefore, the ANN predicts that the customer will stay in the bank

### Predicting the Test set results

In [141]:
from sklearn.metrics import confusion_matrix, accuracy_score

y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

cm = confusion_matrix(y_test, y_pred)

print(cm, accuracy_score(y_test, y_pred))

63/63 [==============================] - 0s 1ms/step
[[1546   79]
 [ 184  191]] 0.8685